body {
  background-color: #333;
  color: #fff;
}

h1 {
  max-width: 480px;
  margin: 2rem auto;
  font-size: 150%;
}

form {
  max-width: 480px;
  margin: 0 auto;
}

button, select {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  height: 1.5rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Some firefox range styling */
input[type=range] {
  -moz-appearance: none;
}

input[type=range]::-moz-range-thumb {
  background-color: #fff;
  height: 1rem;
  width: .5rem;
  border-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

input[type=range]::-moz-range-track {
  background-color: #fff;
}

.speecharg {
  height: 2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

.speecharg label {
  display: inline-block;
  width: 20%;
}

.speecharg input, .speecharg select {
  display: inline-block;
  width: calc(80% - 3rem);
  margin: 0;
}

.speecharg button {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 0 1.5rem;
  display: inline-block;
  padding: 0;
}

.bottom {
  margin: 1rem 0;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.bottom > * {
}

.bottom button.small {
  height: 3.25rem;
  width: 3.25rem;
  padding: 0;
}

#textarea {
  width: 100%;
  height: 8rem;
  display: block;
  margin-bottom: 1rem;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  transition: background-color 100ms ease;
  -webkit-transition: background-color 100ms ease;
}

.speaking #textarea {
  background-color: #333;
}

#textarea > * {
  position: absolute;
  display: block;
  border: none;
  resize: none;
  top: 0;
  left: 0;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  margin: .5rem;
  padding: 0;
  white-space: pre-wrap;
  line-height: 1.1rem;
  background-color: transparent;
  font-size: 12px;
  font-family: monospace;
}

#textbeingspoken {
  color: #aaa;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
}

.speaking #textbeingspoken {
  visibility: visible;
  opacity: 1;
}

a#gh {
  color: #333;
  text-align: right;
  display: block;
  font-style: italic;
}

#marker {
  position: absolute;
  visibility: hidden;
  border: 1px solid orange;
}

#marker.moved {
  visibility: visible;
}

#marker.animate {
  transition: all 50ms ease;
  -webkit-transition: all 50ms ease;
}
